* {
    box-sizing: border-box;
}

header, nav, main, footer {
    display: block;
}

body{
    background-color: #FFFFFF;
    background-image: url(background.jpg);
    color: #666666;
    font-family: Verdana, Geneva, Arial, sans-serif;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #90C7E3;
    min-width: 700px;
    max-width: 1024;
    box-shadow: 3px, 3px, 3px #333333;
}

header {
    background-color: #000033;
    color: #FFFFFF;
    font-family: Georgia, serif;
}

h1 {
    line-height: 200%;
    background-image: url(sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 72px;
    margin-bottom: 0;
}

nav{
    font-weight: bold;
    padding: 5px;
    width: 160px;
    padding: 20px 5px 0 20px;
    float: left;
}

nav a {
    text-decoration: none;
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

#homehero {
    height: 300px;
    background-image: url(coast.jpg);
    background-size: 100% 100%;
}

